@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Manrope&family=Orbitron&family=Noto+Sans&display=swap');

:root {
  --shadow-color: 202 155 101;
  --shadow-elevation-low:
    -0.5px 0.5px 0.8px rgb(var(--shadow-color) / 0.34),
    -0.8px 0.8px 1.3px -1.2px rgb(var(--shadow-color) / 0.34),
    -2px 2px 3.2px -2.5px rgb(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    -0.5px 0.5px 0.8px rgb(var(--shadow-color) / 0.36),
    -1.7px 1.6px 2.6px -0.8px rgb(var(--shadow-color) / 0.36),
    -4.2px 4px 6.5px -1.7px rgb(var(--shadow-color) / 0.36),
    -10.2px 9.8px 15.9px -2.5px rgb(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    -0.5px 0.5px 0.8px rgb(var(--shadow-color) / 0.34),
    -3px 2.9px 4.7px -0.4px rgb(var(--shadow-color) / 0.34),
    -5.6px 5.3px 8.7px -0.7px rgb(var(--shadow-color) / 0.34),
    -9.1px 8.8px 14.2px -1.1px rgb(var(--shadow-color) / 0.34),
    -14.6px 14px 22.8px -1.4px rgb(var(--shadow-color) / 0.34),
    -22.8px 21.9px 35.6px -1.8px rgb(var(--shadow-color) / 0.34),
    -34.7px 33.3px 54.1px -2.1px rgb(var(--shadow-color) / 0.34),
    -51.1px 49px 79.6px -2.5px rgb(var(--shadow-color) / 0.34);
}

body {
  background-color: #ffffff;
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

/*
* {
  border: solid 3px #ffa500;
} 
*/

/* section {} */

.projects {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  border-bottom: solid 3px #ffa500;
}

.project-container {
  background-color: #ffa500;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-high);
  transition: all .3s ease-in-out;
  max-width: 800px;

  display: flex;
}

.projects .project-container:hover {
  box-shadow: none;
}

.project-description {
  flex: 1;
  max-width: 220px;
}

.project-screenshot {
  flex: 1;
}

.project-screenshot img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.cert-grid {
  padding: 20px;
}

.cert-grid-container {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  width: 100%;
  gap: 10px;
  /* border-bottom: solid 3px #ffa500; */
  grid-template-columns: auto auto auto;
  /* background-color: #ffa500; */
}

.cert-grid-container img {
  width: 100%;
  border-radius: 8px;
}

.cert-hidden {
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(-100%); */
  transition: all 1s ease-in-out;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
  .cert-hidden {
    transition: none;
  }
}

.cert-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#header {
  min-height: 100vh;
  padding: 80px;
  border-bottom: solid 3px #ffa500;
  background-image: url('./assets/svg/wave-haikei.svg');
  background-color: #fff;
  background-size: cover;
}

#header h1 {
  margin-top: 40px;
  vertical-align: top;
  font-size: 40px;
  font-family: 'Manrope';
}

#header p {
  /* age */
  margin-top: 30px;
  vertical-align: top;
  font-size: 14px;
  color: #000;
}

#header #g4o2 {
  height: 210px;
  width: 210px;
  border-radius: 1000px;
  float: left;
  margin-right: 40px;
  margin-top: 30px;
  border: 7px solid #ffc200;
  animation: logo-breath 5s ease-out infinite normal;
}

@media (max-width: 400px) {
  #header {
    padding: 20px;
  }
}

@media (max-width: 1220px) {
  .programming-language {
      width: 16% !important;
    }
}

@media (max-width: 990px) {
  .programming-language {
    width: 20% !important;
  }
}

@media (max-width: 520px) {
  .programming-language {
    width: 25% !important;
    margin: 5 !important;
  }
}

#socials {
  border-bottom: solid 3px #ffa500;
  user-select: none;
}

#socials a {
  color: #000;
  font-size: 38px;
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
}

#socials a:hover {
  color: #ffa500;
  transition: color .1s ease-in-out;
}

#socials:nth-child(2) {
  transition-delay: 400ms;
}

#socials:nth-child(3) {
  transition-delay: 600ms;
}

#socials:nth-child(4) {
  transition-delay: 800ms;
}

#socials:nth-child(5) {
  transition-delay: 1000ms;
}

#socials:nth-child(6) {
  transition-delay: 1200ms;
}

#socials:nth-child(7) {
  transition-delay: 1400ms;
}

#socials:nth-child(8) {
  transition-delay: 1600ms;
}

#socials:nth-child(9) {
  transition-delay: 1800ms;
}

#socials:nth-child(10) {
  transition-delay: 2000ms;
}

#socials:nth-child(11) {
  transition-delay: 2200ms;
}

#programming-languages {
  margin-top: 40px;
  padding: 20px;
}

.programming-language {
  width: 8%;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-dodge; */
  margin: 14px 14px;
}

#github-contribution {
  width: 100%;
}

.multiple {
  display: flex;
  column-gap: 20px;
}

.multiple-child:nth-child(2) {
  transition-delay: 200ms;
}

.multiple-child:nth-child(3) {
  transition-delay: 400ms;
}

.multiple-child:nth-child(4) {
  transition-delay: 600ms;
}

.multiple-child:nth-child(5) {
  transition-delay: 800ms;
}

.multiple-child:nth-child(6) {
  transition-delay: 1000ms;
}

.multiple-child:nth-child(7) {
  transition-delay: 1200ms;
}

.multiple-child:nth-child(8) {
  transition-delay: 1400ms;
}

.multiple-child:nth-child(9) {
  transition-delay: 1600ms;
}

.multiple-child:nth-child(10) {
  transition-delay: 1800ms;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: rgb(31, 31, 34);
  color: #888;
}

@keyframes logo-breath {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  /* background-color: rgb(96, 96, 96); */
  background-clip: padding-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(112, 112, 112);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: rgb(64, 64, 64);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");

}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
