@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
header {
    border-radius: 8px;
    height: 150px;
    font-family: monospace, sans-serif;
    background-image: url('../images/flywheel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    text-align: center;
    color: #ffc300;
    font-family: 'Orbitron', monospace, sans-serif;
}
h2 {
    color: #ffa500;
    font-family: 'Orbitron', monospace, sans-serif;
}
nav > a {
    color: #ffa500;
    background-color: transparent;
    margin-left: 5px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 25px;
}
nav > a:hover {
    color: rgb(0, 248, 190);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
nav > a:active {
    background-color: white;
}
body {
    margin: 20px 25px 0px 25px;
}
img {
    width: 160px;
    padding: 10px;
    border:solid 3px rgb(71, 71, 71);
}
.left {
    display: inline-block;
    background-color: #ffa500;
    width: 200px;
    padding: 5px;
}
.right {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 8px 8px 8px;
}
main {
    display: flex;
}
